{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                Ecrit le 10/08/2021 à 19:20 dans la catégorie Politique
            </div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Minima aperiam numquam praesentium necessitatibus eligendi. 
                    Rerum modi ipsum voluptatum, labore suscipit distinctio nemo 
                    quaerat ullam fugit ad! Neque, consectetur! Esse, voluptatum!
                </p>
                <a href="{{ path("blog_show") }}" class="btn btn-primary">Lire la suite...</a>
            </div>
        </article>

        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                Ecrit le 10/08/2021 à 19:20 dans la catégorie Politique
            </div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Minima aperiam numquam praesentium necessitatibus eligendi. 
                    Rerum modi ipsum voluptatum, labore suscipit distinctio nemo 
                    quaerat ullam fugit ad! Neque, consectetur! Esse, voluptatum!
                </p>
                <a href="{{ path("blog_show") }}" class="btn btn-primary">Lire la suite...</a>
            </div>
        </article>

        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                Ecrit le 10/08/2021 à 19:20 dans la catégorie Politique
            </div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Minima aperiam numquam praesentium necessitatibus eligendi. 
                    Rerum modi ipsum voluptatum, labore suscipit distinctio nemo 
                    quaerat ullam fugit ad! Neque, consectetur! Esse, voluptatum!
                </p>
                <a href="{{ path("blog_show") }}" class="btn btn-primary">Lire la suite...</a>
            </div>
        </article>
    </section>
{% endblock %}
