{% extends "base.html.twig" %}

{% block body %}
    <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                Ecrit le 10/08/2021 à 19:20 dans la catégorie Politique
            </div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Minima aperiam numquam praesentium necessitatibus eligendi. 
                    Rerum modi ipsum voluptatum, labore suscipit distinctio nemo 
                    quaerat ullam fugit ad! Neque, consectetur! Esse, voluptatum!
                </p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Architecto amet pariatur reprehenderit? Et cum, voluptate minima, facilis eligendi perferendis 
                    corrupti, voluptas voluptates odio nulla blanditiis enim adipisci itaque cupiditate odit.
                </p>
                <p>Error doloribus fugit debitis necessitatibus natus corporis laboriosam 
                    unde, delectus ex quibusdam quae temporibus consequuntur veritatis, itaque 
                    dicta qui! Deleniti, possimus pariatur? Earum, vitae! Aperiam excepturi fuga laboriosam iste ipsa!
                </p>
                <p>Ipsam numquam repudiandae reiciendis dolore quasi similique tenetur unde pariatur 
                    enim atque nostrum debitis ut facere suscipit itaque consectetur dolor, a nobis nisi explicabo 
                    odio, doloribus corrupti. Ipsam, ipsum sequi?
                </p>
            </div>
        </article>
{% endblock %}